[Desktop Entry]
Encoding=UTF-8
Name=Link to Adafruit RGB Positive 16x2 LCD+Keypad Kit for Raspberry Pi ID: 1109 - $24.95 : Adafruit Industries, Unique & fun DIY electronics and kits
Type=Link
URL=http://www.adafruit.com/products/1109
Icon=text-html
Name[en_US]=Link to Adafruit RGB Positive 16x2 LCD+Keypad Kit for Raspberry Pi ID: 1109
